body{
    background-color: rgba(0, 0, 0, 0.703);
    background-image: none;
}
.show-new img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.show-content{
    background-color: white;
}
.show-new h1{
    font-size: 70px;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 400px;
    font-weight: 1000;
    color: aliceblue;
}
.new-show > h4{
    margin-top: 15px;
    padding: 15px 0 15px 0;
    border-top: solid 15px #E96E1C;
    color: #E96E1C;
}
.new-show a{
    text-decoration: none;
    color: black;
}
.new-show a:hover{
    color: #E96E1C;
}
.tintuc-card .card{
    background-color: rgb(183, 181, 181);
    border: none;
}
.card{
    border: none;
}
.content p img{
    width: 100%;
    height: auto;
    background-size: cover; 
    background-position: center;
}
@media (max-width: 768px) {
    .show-new h1{
        font-size: 35px;
        padding-top: 80px;
    }
    .showconten{
        display: flex;
        flex-direction: column-reverse;
    }
}
.comment {
    border: 1px solid #01080f; 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment .card-body {
    padding: 15px;
  }
  